@import './calculator.scss';
@import './slider-box.scss';
@import './result-box.scss';
@import './range-input.scss';
@import './button.scss';
@import './message.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{
  font-family: roboto;
  font-size: 100%;
  color: #666;
  .component{
    padding: 20px;
  }
  .clearfix{
    clear:both;
  }
}

