.message{
  position: relative;
  background:#f7584d;
  color: #fff;
  text-align:center;
  margin-bottom:1.5em;
  .close{
    position:absolute;
    right: 10px;
    top:10px;
    cursor:pointer;
  }
  .text{
    margin-top: 1.5em;
  }
}