input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 16px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: #000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(37, 46, 13, 0.78);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: #000;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
